<div id="reset-password-title"> Reset Password </div>
<div class="reset-password-container">
    <form [formGroup]="getCheckoutForm()" (ngSubmit)="resetPassword()">
        
        <div class="form-label"> Email:</div>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
        formControlName="email">

        <div class="form-buttons">
            <div class="top-buttons">
                <button type="text" id="back-button" class="btn btn-primary"><a routerLink="/login">back</a></button>
                <button type="submit" id="enter-button" class="btn btn-primary">enter</button>
                </div>
        </div>
    </form>
</div>