.reset-password-container {
    background-color:white;
    height:100%;
    font-family:'Roboto';
    border-radius: 10px;
    margin: auto;
    width: 20%;
}

#reset-password-title {
    font-family: 'Open Sans';
    font-size:20px;
    font-weight: bold;
    padding-bottom:13px;
    text-align: center;
    padding-bottom:25px;
}

.form-label {
    font-family: 'Open Sans';
    font-size:18px;
    padding-top:10px;
    padding-left:10px;
}

input {
   margin-left:10px;
}

#enter-button {
    font-family: 'Open Sans';
    margin-left:10px;
    margin-bottom:10px;
    margin-top:10px;
}

.form-buttons {
    display: flex;
}

#back-button a {
    font-family: 'Open Sans';
    margin-bottom:10px;
    margin-top:10px;
    text-decoration: none;
    color:white;
}
    
input{
    width: 95%;
    }

.top-buttons {
    padding-left:10px;
}

@media screen and (max-width: 600px) {
    .reset-password-container {
        width:100%;
    }
}