.uploadResult{
    font-weight:bold;
    color:#28a745;
    margin-left: 15px;
    line-height: 36px;
}


#upload-button {
    margin-left:10px;
}

#upload-input {
    margin-left:10px;
    width: 200px;
}

.upload-section {
    display: flex;
}

#filename {
    margin-left:13px;
    margin-top: 17px;
}

#input-element {
    display:none
}